# Java后端
health-server/target/
health-server/.idea/
health-server/*.log
health-server/*.iml

# Vue前端
health-web/node_modules/
health-web/dist/
health-web/.vite/
health-web/node_modules/.cache

# 系统&IDE
.idea/
.vscode/
*.DS_Store
*.tmp
*.jfr